streamlit>=1.31.0
embedchain>=0.1.99
langchain>=0.1.4
langchain-community>=0.0.13
langchain-core>=0.1.10
chromadb>=0.4.17
google-auth 
google-auth-oauthlib 
google-api-python-client 
python-dotenv
redis
psycopg2-binary
pandas
pyarrow
openpyxl
black
yapf
isort
autopep8
fastapi
jupyterlab
jupyterlab-git
jupyterlab-code-formatter
jupyter-resource-usage
jupyter-dash
jupyterthemes
nbconvert
dash-bootstrap-components
dash-mantine-components
openai
transformers
sentencepiece
sacremoses
